.flex {
    display: flex;
    height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}  

.contenedor1 {
    border: solid 1px blue;
    height: 200px;
    width: 200px;
    padding: 0.5px;
    flex-grow: 0;
}

.contenedor2 {
    border: solid 1px blue;
    padding: 0.5px;
    height: 200px;
    width: 200px;
    flex-grow: 1;
}

@media (max-width: 640px) {
    .flex {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

    .contenedor1 {
        display: flex;
        width: 400px;
    }
}